body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.site-map {
    &-download-button {
        display: none;
    }

    &-input {
        height: 300px;
        width: 100%;
    }

    &-label {
        font-weight: bold;
    }

    &-output {
        border: 1px solid darkgray;
        max-height: 300px;
        overflow-y: auto;
    }

    &-page-greyout {
        background-color: gray;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        opacity: 0.5;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}
